.weatherCard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f3f4f6;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .weatherStatusSection {
    display: flex;
    align-items: center;
    min-width: 200px;
  }

  .icon {
    width: 50px;
    margin-right: 20px;
    height: auto;
    transition: transform 0.06s ease-in-out;
  }

  .date {
    color: #1d5362;
  }

  span {
    font-size: 1em;
    color: #333;
    margin: 0 5px;

    &:first-child {
      font-weight: bold;
    }
  }
}
