.optionsWrapper {
    margin-right: 40px;
    border: none;
}
.optionsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

    @media (max-width: 1053px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    @media (max-width: 500px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.weatherFilterHeader {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #444;
}
.option {
    border: none;
    background: none;
    cursor: pointer;

    img {
        width: 70px;
    }

    transition: transform 0.1s ease-in-out;
    &:hover {
        transform: scale(1.2);
    }
    filter: grayscale(100%);
}

.selected {
    filter: grayscale(0);
}
